/* (home) version: 1.0.1 */

/*
  default (1.0.1)

  header
    > backgroundColor: #FFFFFF
    > textColor: #000

  buttons
    > backgroundColor: #3483fa (alter #619efb)
    > textColor: #333

  accents > textColor: #3483fa (alter #619efb)
  promotions > textColor: #39b54a (alter #53c963)
*/

/* header & footer (1.0.1) */

.nav-header,
.side-drawer__title {
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.nav-header__hamburger {
    background: #000 !important;
}

.nav-list--horizontal > .nav-list__item > .nav-list__link {
    color: #000 !important;
}

/* Hover under elements in menu */
.nav-list__item--more:after,
.nav-list--horizontal > .nav-list__item:not(:last-child):not(:last-child):after {
    border-color: #000 !important;
}

/* Icons */
.nav-header__logo,
.nav-header__nav-link .nav-header__nav-icon:before,
.nav-icon-cart:before,
.nav-cart .nav-icon-cart-quantity {
    color: #000 !important;
}

/* Separators in the header */
.nav-header__separator,
.nav-cart:before,
.nav-header__nav-link:before {
    border-color: #000 !important;
    opacity: 0.1;
}

/* Hide QR Afip (todo: don't do it by style but by removing the element) */
footer .nav-footer-disclaimer a[href="null"] {
    display: none;
}

/* New Classes for templates */
.header--custom-background {
    background: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.header--custom-text {
    color: #000 !important;
}

.header--custom-border {
    border-color: #000 !important;
}

.header--custom-svg {
    fill: #000 !important;
}

.header--custom-secondary-background {
    background-color: #a3a3a3 !important;
}

.header--custom-secondary-text {
    color: #333 !important;
}

.header--custom-text a {
  color: #000 !important;
}
.header--custom-border.nav-list--horizontal>.nav-list__item:not(:last-child):not(:last-child):after {
  border-color: #000 !important;
}

/* Search box looks bad on white headers (white border - white background). We need to force gray. */

    .search-box-container {
    border: 1px solid #cccccc
    }


.header--custom-border:hover {
    border-color: #000 !important;
}

